@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800|Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800|Yeseva+One&display=swap");

body {
  font-family: "Yeseva One", cursive;
  font-weight: normal;
  font-style: normal;
}

.img {
  max-width: 100%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

a:hover {
  text-decoration: none;
}

h3 {
  font-family: "Yeseva One", cursive;
  color: #191d34;
}

h3 a{
  color: inherit;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  color: #5c5c5c;
  margin-bottom: 0;
  font-family: "Open Sans", sans-serif;
}
h3 {
  font-size: 24px;
}
.overlay {
  position: relative;
  z-index: 0;
}

.overlay::before {
  position: absolute;
  content: "";
  background-color: #3CC78F;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.38;
}

/* button style */


.boxed-btn3 {
  color: #222222;
  display: inline-block;
  padding: 13px 44px;
  font-size: 16px;
  font-weight: 600;
  border: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background: #fff;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}


.boxed-btn3:hover {
  background: #3CC78F;
  color: #fff;
}

.boxed-btn3:focus {
  outline: none;
}

.boxed-btn3.large-width {
  width: 220px;
}

.slider_bg_1 {
  background-image: url(../img/banner.png);
}


.slider_area .single_slider {
  height: 742px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (max-width: 767px) {
  .slider_area .single_slider {
    height: 500px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .slider_area .single_slider {
    height: 700px;
  }
}

.slider_area .single_slider .slider_text > span {
  text-transform: capitalize;
  font-size: 26px;
  color: #fff;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  display: block;
}

.slider_area .single_slider .slider_text h3 {
  color: #fff;
  font-family: "Yeseva One", cursive;
  font-size: 84px;
  margin-top: 6px;
  margin-bottom: 9px;
  line-height: 1.14;
}

@media (max-width: 767px) {
  .slider_area .single_slider .slider_text h3 {
    font-size: 33px;
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .slider_area .single_slider .slider_text h3 {
    font-size: 55px;
  }
}

.slider_area .single_slider .slider_text p {
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  margin-bottom: 40px;
  margin-top: 10px;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .slider_area .single_slider .slider_text p {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .slider_area .single_slider .slider_text p {
    font-size: 16px;
  }
}
input {
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  }

.input-text{
        border: 1px solid #D6D6D6;
        background-color: #FAFAFA;
        font-size: 17px;
        padding: 8px;
}
